@import "normalize.css/normalize.css";
@import "bourbon";
@import "susy";
@import "sass-material-colors/sass/sass-material-colors";

@import "grid";

@import "overview";

body {
  padding: 0.5rem;
  color: white;
  background-color: #BBB;
}

h1 {
  text-align: center;
  font-weight: normal;
}
